.contenedorBarra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
}
.barra {
  width: 8%;
  border-radius: 5px;
  height: 10px;
}
/* #FFE59D; */