.modal {
  position: absolute;
  text-align: center;
  background-color: rgba(160, 154, 154,0.9);
  margin-left: calc(50% - 210px);
  height: 450px;
  width: 400px;
  margin-top: 50px;
 border-radius: 10px;
}
.cerrar {
   font-size: 2rem;
   color: white;
   cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
}
.modal h1,h3 {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
  line-height: 2;
  letter-spacing: 2px;
  color: #FFE59D;
}
.modal h3 {
  font-size: 1.5rem;
  color: white;
}
.modal h5 {
   color: #FFE59D;
   font-size: 5rem;
   margin-top: -20px;
}

.volver {
  font-size: 1rem;
  color: white;
  cursor: pointer;
}